body {
  color: #111;
  background: #f0f0f0;
  margin: 80px 0;
  font-family: Arial;
  font-size: 20px;
}

main,
.splash {
  max-width: 600px;
  margin: 0px auto;
}

a {
  color: #333;
}

h3 a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

.blog .date {
  font-size: 12px;
}

h1,
.blog .date,
.blog img {
  margin: 30px 0;
}

h2,
h3,
h4 {
  font-size: inherit;
}

header {
  background: url("limbsoup2-bg.png") #111;
  text-align: center;
  height: 100%;
}

a:hover {
  background: #aee;
}

@media only screen and (max-device-width: 480px) {
  header {
    height: auto;
  }

  main {
    margin: 10px;
  }
  body {
    margin: 0;
  }
}
